{% extends "ajax_select/autocompleteselect.html" %}

{% block extra_script %}
<script type="text/javascript">
    $("#{{html_id}}_on_deck").bind('added', function() {
        //the function redirect2detail is defined in the PhD_search_skeleton template
        //the if statement ensures that this redirect behavior is done only on that page,
        // and not in other usages of this django ajax autoselect
        if (typeof redirect2detail == 'function') {
            redirect2detail($("#{{html_id}}").val());
        }

    });
    $("#{{html_id}}_on_deck").bind('killed', function() {
      cleanUp();
    });
</script>
{% endblock %}