{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <meta property="og:url" content="physanthphylogeny.org"/>
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Tracing the academic lineage of Biological Anthropology PhDs.">
  {% block fb-image %}
      <meta property="og:image" content="{% static "images/fb_default_share_img.png" %}" />
  {% endblock %}

  <meta property="og:title" content="Academic Phylogeny of Physical Anthropology">
  <title>Academic Phylogeny of Physical Anthropology</title>

  <link rel="shortcut icon" href={% static "images/favicon.png" %} />
  <!-- CSS  -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    {% block extrastyle %}{% endblock %}
</head>
<body>

  {% include "navbar.html" %}
  {% include "login-strip.html" %}
  {% block content %}{% endblock %}
  {% include "footer.html" %}


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
  {% block javascript_doc_ready %}{% endblock %}
  </body>
</html>
