{% extends "default.html" %}

{% block content %}
    {%  if user_profile.user == request.user %}
        <div class="container">
            <div class="row">
                <div class="col s12 l6 ">
                <div class="card red lighten-3">
                    <div class="card-content">
                        <span class="card-title">Hello, {{ user_profile.user }}!<br>You control this page</span>
                    </div>
                    <div class="card-action">
                        <a class="blue-text lighten-3" href="/edit/{{user_profile.associated_PhD.id}}/">Edit your information</a>
                    </div>
                </div>
            </div>
            </div>

        </div>
    {% endif %}

    <div class="container">

        {% if thePhD %}
            {% comment %}<div class="col s12"><h4>Details for {{ thePhD }}</h4></div>{% endcomment %}
            <div class="row section">
                <div class="col s12">
                    <div class="card amber lighten-5">
                        <div class="card-content">
                            <span class="card-title black-text">{{ thePhD }}{% if thePhD.year %} ({{ thePhD.year }}){% endif %}</span>
                            <div class="row">
                                <div class="col s12">
                                    <div class='chip blue darken-1 white-text'>{{ thePhD.school }}</div>
                                    {% for special in thePhD.specialization.all %}<div class="chip">{{ special }}</div>{% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s10 l11">
                                    <a class="waves-effect btn waves-light btn-100-percent" href="/network/{{ thePhD.URL_for_detail }}" class="black-text"><i class="material-icons left">device_hub</i>View Network</a>
                                </div>
                                {%  if not user_profile.user == request.user %}
                                <div class="col s1">
                                    <a class="btn-floating tooltipped" data-position="right" data-tooltip="Suggest a correction" href="/suggest_change/{{ thePhD.id }}">
                                        <i class="large material-icons">mode_edit</i>
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row section">
                {% if thePhD.advisor.all %}<div class="col s12"><h5>Advisor{% if thePhD.advisor.all|length > 1 %}s{% endif %}</h5></div>{% endif %}
                {% for each in thePhD.advisor.all %}
                    <div class="col s12 ">
                        <a href="/detail/{{ each.URL_for_detail }}">
                            <div class="card amber lighten-5 hoverable">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12">
                                        <span class="card-title black-text">{{ each }}{% if each.year %} ({{ each.year }}){% endif %}</span>
                                        <div class='chip blue darken-1 white-text'>{{ each.school }}</div>
                                        {% for special in each.specialization.all %}<div class="chip">{{ special }}</div>{% endfor %}
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col s10 l11">
                                    <a class="waves-effect waves-light btn btn-100-percent" href="/network/{{ each.URL_for_detail }}" class="black-text"><i class="material-icons left">device_hub</i>View Network</a>
                                </div>
                                <div class="col s1">
                                    <a class="btn-floating tooltipped" data-position="right" data-tooltip="Suggest a correction" href="/suggest_change/{{ each.id }}">
                                        <i class="large material-icons">mode_edit</i>
                                    </a>
                                </div>
                            </div>
                            </div>

                        </div>
                        </a>

                    </div>
                {% endfor %}
            </div>

            <div class="row section">
            {% if students%}<div class="col s12"><h5>PhD Students</h5></div>{% endif %}
            {% for student in students %}
                <div class="col s12">
                    <a href="/detail/{{ student.URL_for_detail }}">
                        <div class="card amber lighten-5 hoverable">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12">
                                        <span class="card-title black-text">{{ student }}{% if student.year %} ({{ student.year }}){% endif %}</span>
                                        <div class='chip blue darken-1 white-text'>{{ student.school }}</div>
                                        {% for special in student.specialization.all %}<div class="chip">{{ special }}</div>{% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s10 l11">
                                        <a class="waves-effect waves-light btn btn-100-percent" href="/network/{{ student.URL_for_detail }}" class="black-text"><i class="material-icons left">device_hub</i>View Network</a>
                                    </div>
                                    <div class="col s1">
                                    <a class="btn-floating tooltipped" data-position="right" data-tooltip="Suggest a correction" href="/suggest_change/{{ student.id }}">
                                        <i class="large material-icons">mode_edit</i>
                                    </a>
                                </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <div class="card red accent-2">
                <div class="card-content">
                    <span class="card-title">There's nobody here!</span>
                    Try <a class="white-text" href="/people/">searching</a> for someone
                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}
