{% extends "default.html" %}
{% block content %}


<div class="row" style="padding: 70px 20px 0px 20px;">
          <div class="card amber lighten-3">
              <div class="card-content">
                  <h4 class="header center black-text">Academic Phylogeny of Physical Anthropology</h4>
                  <p class="center-align">Tracing the academic lineages of biological anthropology PhDs</p>
              </div>
          </div>
      </div>
  <div class="container">
      <!--   Icon Section   -->
      <div class="row">
           <div class="col s12 m6 l3">
            <div class="card grey lighten-4 hoverable ">
                <div class="card-content">
                    <a href="/people/" class="black-text">
                        <div class="icon-block">
                            <h2 class="center light-blue-text"><i class="material-icons">search</i></h2>
                            <h5 class="center">Find People</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card grey lighten-4 hoverable ">
                <div class="card-content">
                    <a href="/about/" class="black-text">
                        <div class="icon-block">
                            <h2 class="center light-blue-text"><i class="material-icons">help</i></h2>
                            <h5 class="center">What's This About</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card grey lighten-4 hoverable ">
                <div class="card-content">
                    <a href="/trends/" class="black-text">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="material-icons">trending_up</i></h2>
                        <h5 class="center">Explore Trends</h5>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card grey lighten-4 hoverable ">
                <div class="card-content">
                    <a href="/claim/" class="black-text">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="material-icons">person</i></h2>
                        <h5 class="center">Your profile</h5>
                    </div>
                    </a>
                </div>
            </div>
        </div>



      </div>



  </div>
{% endblock %}