{% extends "default.html" %}

{% block fb-SDK %}
    {% include "fb-SDK.html" %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3>Thanks!</h3>
                <p>Please follow us on social media. It help us get the word out to more people!</p>
            </div>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Follow us on Facebook</span>
                        <div class="fb-follow" data-href="https://www.facebook.com/physanthphylogeny" data-layout="button_count" data-size="small" data-show-faces="true"></div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Follow us on Twitter</span>
                        <a href="https://twitter.com/PhysAnthPhylo" class="twitter-follow-button" data-show-count="false">Follow @PhysAnthPhylo</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}