{% extends "default.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3>Thanks!</h3>
                <p>Please like our Facebook page to help us get the word out to more people!</p>
                <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fphysanthphylogeny&amp;width=450&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80&amp;appId=891349850905339" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
            </div>
        </div>
    </div>
{% endblock %}