{% extends "default.html" %}

{% block content %}
    {{ form.media }}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3>Contact Us</h3>
                <div class="card">
                    <div class="card-content">
                        <form action="/contact/" method="post" novalidate >{% csrf_token %}
                            {{ form }}
                        <input type="submit" value="Save" />
                    </div>
                </div>

            </form>
            </div>
        </div>
    </div>

{% endblock %}
